@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}

:root{
        --col-01: #71a88f;   
        --col-02: rgb(217, 83, 83);   
        --col-03: rgb(102, 122, 169);   
        --col-04: rgb(0, 0, 0);   
        --border: single 1rem var 
    }

    h1 {font: size 200px; ;}

    body{

        font-family: "Raleway", sans-serif;
    }
   