@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-size: 1.2rem;
  text-align: left;
  margin: 30px;
  height: 100%;
  width: 100%;
  /* width: max-content; */
  padding: 50p;
  /*background: linear-gradient(180deg, #7494ffdd, #e0d9f8dd, #d89afc);*/
  background: linear-gradient(180deg, #7494ffdd, #e0d9f8dd, #d89afc);

  margin-bottom: 30px;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
}

h1 {
  font-size: 12rem;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 0px;
  margin: auto 0;
  text-align: center;
  /*background: linear-gradient(#ffa5cf, #839ef5dd);*/
  background: linear-gradient(#b599ef, #e4e8f7);
  background-clip: text;
  color: transparent;
  padding-right: 20px;
  padding-left: 20px;
}

h2 {
  font-size: 10rem;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(#ffa5cf, #839ef5dd);
  background-clip: text;
  color: transparent;
  padding-right: 20px;
  padding-left: 20px;
}

.container {
  background-color: rgb(251, 223, 241);
  padding: 20px;
  border-radius: 20px;
  width: 90%;
  height: 90%;
  /* max-width: 1900px; */
  margin: 0 auto;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
}

.outer {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax (300px, 1fr));
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0 auto;
}

.question1 {
  background-color: var(--col-02);
  padding: 10px;
  width: 15%;
  border-radius: 20px;
  margin-bottom: 5px;
}

.answer1 {
  background-color: var(--col-03);
  color: #3c2a21;
  padding: 10px;
  width: 15%;
  border-radius: 20px;
  margin-right: 20x;
}

.question2 {
  background-color: var(--col-02);
  padding: 10px;
  width: 15%;
  border-radius: 20px;
  margin-bottom: 5px;
}

.answer2 {
  background-color: var(--col-03);
  color: #3c2a21;
  padding: 10px;
  width: 15%;
  border-radius: 20px;
}

.question3 {
  background-color: var(--col-02);
  padding: 10px;
  width: 15%;
  border-radius: 20px;
  margin-bottom: 5px;
}

.answer3 {
  background-color: var(--col-03);
  color: #3c2a21;
  padding: 10px;
  width: 15%;
  border-radius: 20px;
}

.question4 {
  background-color: var(--col-02);
  padding: 10px;
  width: 15%;
  border-radius: 20px;
  margin-bottom: 5px;
}

.answer4 {
  background-color: var(--col-03);
  color: #3c2a21;
  padding: 10px;
  width: 15%;
  border-radius: 20px;
}

.question5 {
  background-color: var(--col-02);
  padding: 10px;
  width: 15%;
  border-radius: 20px;
  margin-bottom: 5px;
}

.answer5 {
  background-color: var(--col-03);
  color: #3c2a21;
  padding: 10px;
  width: 15%;
  border-radius: 20px;
}
.question6 {
  background-color: var(--col-02);
  padding: 10px;
  width: 15%;
  border-radius: 20px;
  margin-bottom: 5px;
}

.answer6 {
  background-color: var(--col-03);
  color: #3c2a21;
  padding: 10px;
  width: 15%;
  border-radius: 20px;
}

.question7 {
  background-color: var(--col-02);
  padding: 10px;
  width: 15%;
  border-radius: 20px;
  margin-bottom: 5px;
}

.answer7 {
  background-color: var(--col-03);
  color: #3c2a21;
  padding: 10px;
  width: 15%;
  border-radius: 20px;
}

.question8 {
  background-color: var(--col-02);
  padding: 10px;
  width: 15%;
  border-radius: 20px;
  margin-bottom: 5px;
}

.answer8 {
  background-color: var(--col-03);
  color: #3c2a21;
  padding: 10px;
  width: 15%;
  border-radius: 20px;
}

.question9 {
  background-color: var(--col-02);
  padding: 10px;
  width: 15%;
  border-radius: 20px;
  margin-bottom: 5px;
}

.answer9 {
  background-color: var(--col-03);
  color: #3c2a21;
  padding: 10px;
  width: 15%;
  border-radius: 20px;
}

.question10 {
  background-color: var(--col-02);
  padding: 10px;
  width: 15%;
  border-radius: 20px;
  margin-bottom: 5px;
}

.answer10 {
  background-color: var(--col-03);
  color: #3c2a21;
  padding: 10px;
  width: 15%;
  border-radius: 20px;
}

.question11 {
  background-color: var(--col-02);
  padding: 10px;
  width: 15%;
  border-radius: 20px;
  margin-bottom: 5px;
}

.answer11 {
  background-color: var(--col-03);
  color: #3c2a21;
  padding: 10px;
  width: 15%;
  border-radius: 20px;
}
.question12 {
  background-color: var(--col-02);
  padding: 10px;
  width: 15%;
  border-radius: 20px;
  margin-bottom: 5px;
}

.answer12 {
  background-color: var(--col-03);
  color: #3c2a21;
  padding: 10px;
  width: 15%;
  border-radius: 20px;
}

.question13 {
  background-color: var(--col-02);
  padding: 10px;
  width: 15%;
  border-radius: 20px;
  margin-bottom: 5px;
}

.answer13 {
  background-color: var(--col-03);
  color: #3c2a21;
  padding: 10px;
  width: 15%;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

h3 {
  font-size: 3rem;
  padding-bottom: 10px;
  margin-top: 30px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.ans {
  font-size: 7rem;
}

p {
  border: 1px solid rgb(31, 24, 26);
  height: 100%;
  width: 100%;
  padding: 20px;
  background-color: rgb(235, 180, 238);
  margin: 0 auto;
  margin-bottom: 30px;
}

.answers {
  border: 1px solid rgb(31, 24, 26);
  font-size: 1.75rem;
  height: 700px;
  width: 80%;
  padding: 55px;
  text-align: left;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: rgb(222, 186, 252);
  margin: 20 auto;
  margin-right: 80px;
  margin-left: 80px;
  margin-bottom: 30px;
  border-bottom: 3px dashed rgba(22, 72, 22, 0.191);
  border-radius: 30px;
}

.vcenter {
  line-height: 150px;
}

:root {
  --col-01: #79a18f;
  --col-02: rgb(235, 180, 238);
  --col-03: rgb(222, 186, 252);
  --col-04: #7494ffdd;
  --col-05: rgb(255, 255, 255);
  --border: single 1rem var;
}

#img1 {
  height: 300px;
  width: 500px;
  direction: unset;
  margin-left: 20px;
  border: 5px;
  border-radius: 10x;
  transform: rotate(30);
}

#img1[src="chairfloat.png"] {
  width: 570px;
  height: 320px;
  margin-left: 0%;
  margin-bottom: 8px;
  justify-content: flex-start;
}

.headerflex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
